# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
.venv
venv/
ENV/

# macOS
.DS_Store

# VS Code
.vscode/

# LaTeX / BibTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot

